<% layout('/layouts/default.html', {title: '钱包明细管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('钱包明细管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${ddwlDetail}" action="${ctx}/ddwl/ddwlDetail/listData" method="post" class="form-inline hide"
			data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
			<div class="form-group">
				<label class="control-label">${text('用户手机号')}：</label>
				<div class="control-inline">
					<#form:input path="userId" maxlength="255" class="form-control width-120"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">${text('设备名')}：</label>
				<div class="control-inline">
					<#form:input path="deviceId" maxlength="255" class="form-control width-120"/>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label">${text('交易类型')}：</label>
				<div class="control-inline width-120">
					<#form:select path="type" dictType="detail_type" blankOption="true" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">${text('交易时间')}：</label>
				<div class="control-inline">
					<#form:input path="createTime_gte" readonly="true" maxlength="20" class="form-control Wdate-datetime"
					dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false,onpicked:function(){createTime_lte.click()}});"/>
					&nbsp;--&nbsp;
					<#form:input path="createTime_lte" readonly="true" maxlength="20" class="form-control Wdate-datetime"
					dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">${text('申请金额')}：</label>
				<div class="control-inline">
					<#form:input path="money_gte" class="form-control width-60"/>
					&nbsp;--&nbsp;
					<#form:input path="money_lte" class="form-control width-60"/>
				</div>
			</div>
			<!--<div class="form-group">-->
			<!--<label class="control-label">${text('state')}：</label>-->
			<!--<div class="control-inline">-->
			<!--<#form:input path="state" maxlength="2" class="form-control width-120"/>-->
			<!--</div>-->
			<!--</div>-->
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
				<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
			</div>
		</#form:form>
		<div class="col-md-3 col-sm-6 col-xs-12">
			<span class="info-box-text">钱包余额</span>
			<div class="info-box">
				<span class="info-box-icon bg-aqua"><i class="fa fa-cny"></i></span>
				<div class="info-box-content">

					<span class="info-box-number">${money}<small>元</small></span>
				</div>
				<div class="info-box-content">

					<span class="info-box-number">${applicationType}</span>
				</div>
				<!-- /.info-box-content -->
			</div>
			<!-- /.info-box -->
			<% if (hasPermi('ddwl:ddwlDetail:edit')){ %>
			<a href="${ctx}/ddwl/ddwlWallet/withdrawForm" class="btn btn-default btnTool width-120" title="${text('提现')}">${text('提现')}</a>
			<button id="bindOpenId" href="${ctx}/ddwl/ddwlWallet/bindOpenId" class="btn btn-default width-120" title="${text('绑定微信')}">${text('绑定微信')}</button>
			<% } %>
		</div>

		<table id="dataGrid"></table>
		<div id="dataGridPage"></div>
	</div>
</div>
</div>
<% } %>
<script>

    /**
     * AJAX 提交
     * js.ajaxSubmit('/sys/user/save', {param: 1}, function(data){})
     */

    $("#bindOpenId").click( function() {
        js.ajaxSubmit('${ctx}/ddwl/ddwlWallet/bindOpenId', {}, function(data){
            if (data['imgUrl'] != null && data['imgUrl'] != '') {
                // window.open(data['imgUrl'])
                // window.location.href = data['imgUrl'];
                var img = "<img height='300px' width='300px'  src='"+data['imgUrl']+"'>"
                layer.open({
                    type: 1,//Page层类型
                    // area: ['500px', '500px'],
                    title: '绑定微信',
                    shade: 0.6 ,//遮罩透明度
                    maxmin: true ,//允许全屏最小化
                    anim: 1 ,//0-6的动画形式，-1不开启
                    content: img
                });
                // alert(data['imgUrl'])
            }else{
                alert("绑定获取失败")
			}
		},'json');

    });
    // 初始化DataGrid对象
    $('#dataGrid').dataGrid({
        searchForm: $("#searchForm"),
        columnModel: [
            {header:'${text('用户手机号')}', name:'userId', index:'a.user_id', width:150, align:"center"},
            {header:'${text('设备名')}', name:'deviceId', index:'a.user_id', width:150, align:"center"},
            {header:'${text('交易金额')}', name:'money', index:'a.money', width:150, align:"center", formatter: function(val, obj, row, act){
                	return parseFormatNum(val, 2)
                    // return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
                }},
            {header:'${text('交易类型')}', name:'type', index:'a.type', width:150, align:"center", formatter: function(val, obj, row, act){
                    return js.getDictLabel(${@DictUtils.getDictListJson('detail_type')}, val, '${text('未知')}', true);
                }},
            {header:'${text('时间')}', name:'createTime', index:'a.create_time', width:150, align:"center"}
            // {header:'${text('state')}', name:'state', index:'a.state', width:150, align:"center"}
        ],
        // 加载成功后执行事件
        ajaxSuccess: function(data){

        }
    });
    function parseFormatNum(number,n){
        if(n != 0 ){
            n = (n > 0 && n <= 20) ? n : 2;
        }
        number = parseFloat((number + "").replace(/[^\d\.-]/g, "")).toFixed(n) + "";
        var sub_val = number.split(".")[0].split("").reverse();
        var sub_xs = number.split(".")[1];

        var show_html = "";
        for (i = 0; i < sub_val.length; i++){
            show_html += sub_val[i] + ((i + 1) % 3 == 0 && (i + 1) != sub_val.length && sub_val[i+1] != "-" ? "," : "");
        }

        if(n == 0 ){
            return show_html.split("").reverse().join("");
        }else{
            return show_html.split("").reverse().join("") + "." + sub_xs;
        }

    }
</script>