<% layout('/layouts/default.html', {title: '验证码统计管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('验证码统计管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('ddwl:ddwlCodeStatistics:edit')){ %>
				<a href="${ctx}/ddwl/ddwlCodeStatistics/form" class="btn btn-default btnTool" title="${text('新增验证码统计')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${ddwlCodeStatistics}" action="${ctx}/ddwl/ddwlCodeStatistics/listData" method="post" class="form-inline hide"
			data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
			<div class="form-group">
				<label class="control-label">${text('创建时间')}：</label>
				<div class="control-inline">
					<#form:input path="createDate_gte" readonly="true" maxlength="20" class="form-control Wdate-date"
					dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false,onpicked:function(){createDate_lte.click()}});"/>
					&nbsp;--&nbsp;
					<#form:input path="createDate_lte" readonly="true" maxlength="20" class="form-control Wdate-date"
					dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">${text('状态/删除标记')}：</label>
				<div class="control-inline width-120">
					<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">${text('用户ID')}：</label>
				<div class="control-inline">
					<#form:input path="userBy" maxlength="255" class="form-control width-120"/>
				</div>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
				<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
			</div>
		</#form:form>
		<table id="dataGrid"></table>
		<div id="dataGridPage"></div>
	</div>
</div>
</div>
<% } %>
<script>
    // 初始化DataGrid对象
    $('#dataGrid').dataGrid({
        searchForm: $("#searchForm"),
        columnModel: [
            {header:'${text('主键')}', name:'id', index:'a.id', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
                    return '<a href="${ctx}/ddwl/ddwlCodeStatistics/form?id='+row.id+'" class="btnList" data-title="${text('编辑验证码统计')}">'+(val||row.id)+'</a>';
                }},
            {header:'${text('创建时间')}', name:'createDate', index:'a.create_date', width:150, align:"center"},
            {header:'${text('验证码数量')}', name:'codeNum', index:'a.code_num', width:150, align:"center"},
            {header:'${text('状态/删除标记')}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
        return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text('未知')}', true);
    }},
    {header:'${text('用户ID')}', name:'userBy', index:'a.user_by', width:150, align:"left"},
    // {header:'${text('remarks')}', name:'remarks', index:'a.remarks', width:150, align:"left"},
    {header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
        var actions = [];
    <% if(hasPermi('ddwl:ddwlCodeStatistics:edit')){ %>
            actions.push('<a href="${ctx}/ddwl/ddwlCodeStatistics/form?id='+row.id+'" class="btnList" title="${text('编辑验证码统计')}"><i class="fa fa-pencil"></i></a>&nbsp;');
            // actions.push('<a href="${ctx}/ddwl/ddwlCodeStatistics/delete?id='+row.id+'" class="btnList" title="${text('删除验证码统计')}" data-confirm="${text('确认要删除该验证码统计吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
        <% } %>
        return actions.join('');
    }}
    ],
    // 加载成功后执行事件
    ajaxSuccess: function(data){

    }
    });
</script>