<% layout('/layouts/default.html', {title: '提现管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('提现管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${ddwlWithdrawApplication}" action="${ctx}/ddwl/ddwlWithdrawApplication/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('用户id')}：</label>
					<div class="control-inline">
						<#form:input path="userId" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('申请时间')}：</label>
					<div class="control-inline">
						<#form:input path="createTime_gte" readonly="true" maxlength="20" class="form-control Wdate-datetime"
							dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false,onpicked:function(){createTime_lte.click()}});"/>
						&nbsp;--&nbsp;
						<#form:input path="createTime_lte" readonly="true" maxlength="20" class="form-control Wdate-datetime"
							dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('申请金额')}：</label>
					<div class="control-inline">
						<#form:input path="money_gte" class="form-control width-60"/>
						&nbsp;--&nbsp;
						<#form:input path="money_lte" class="form-control width-60"/>
					</div>
				</div>
				<!--<div class="form-group">-->
					<!--<label class="control-label">${text('state')}：</label>-->
					<!--<div class="control-inline">-->
						<!--<#form:input path="state" maxlength="255" class="form-control width-120"/>-->
					<!--</div>-->
				<!--</div>-->
				<div class="form-group">
					<label class="control-label">${text('申请状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="type" dictType="withdraw_type" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('用户id')}', name:'userId', index:'a.user_id', width:150, align:"center"},
		{header:'${text('申请时间')}', name:'createTime', index:'a.create_time', width:150, align:"center"},
		{header:'${text('申请金额')}', name:'money', index:'a.money', width:150, align:"right", formatter: function(val, obj, row, act){
		    return parseFormatNum(val, 2)
			// return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		// {header:'${text('state')}', name:'state', index:'a.state', width:150, align:"center"},
		{header:'${text('申请状态')}', name:'type', index:'a.type', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('withdraw_type')}, val, '${text('未知')}', true);
		}},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('ddwl:ddwlWithdrawApplication:edit')){ %>
				actions.push('<a href="${ctx}/ddwl/ddwlWithdrawApplication/form?id='+row.id+'" class="btnList" title="${text('编辑提现')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				// actions.push('<a href="${ctx}/ddwl/ddwlWithdrawApplication/reject?id='+row.id+'" class="btnList" title="${text('驳回提现')}" data-confirm="${text('确认要删除该提现吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){

	}
});
function parseFormatNum(number,n){
    if(n != 0 ){
        n = (n > 0 && n <= 20) ? n : 2;
    }
    number = parseFloat((number + "").replace(/[^\d\.-]/g, "")).toFixed(n) + "";
    var sub_val = number.split(".")[0].split("").reverse();
    var sub_xs = number.split(".")[1];

    var show_html = "";
    for (i = 0; i < sub_val.length; i++){
        show_html += sub_val[i] + ((i + 1) % 3 == 0 && (i + 1) != sub_val.length && sub_val[i+1] != "-" ? "," : "");
    }

    if(n == 0 ){
        return show_html.split("").reverse().join("");
    }else{
        return show_html.split("").reverse().join("") + "." + sub_xs;
    }

}
</script>