<% layout('/layouts/default.html', {title: '用户地址表管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('用户地址表管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<a href="${ctx}/ddwl/ddwlUserAddress/form" class="btn btn-default btnTool" title="${text('新增用户地址表')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<a href="javascript:history.go(-1)" target="_self" class="btn btn-default btnTool" title="${text('用户管理表')}"><i class="fa fa-reply-all"></i> ${text('返回主菜单')}</a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${ddwlUserAddress}" action="${ctx}/ddwl/ddwlUserAddress/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('用户ID')}：</label>
					<div class="control-inline">
						<#form:input path="userId" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('地址')}：</label>
					<div class="control-inline">
						<#form:input path="address" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('地址类型')}：</label>
					<div class="control-inline">
						<#form:input path="type"  maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('姓名')}：</label>
					<div class="control-inline">
						<#form:input path="name" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('电话')}：</label>
					<div class="control-inline">
						<#form:input path="phone" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('地址')}', name:'address', index:'a.address', width:150, align:"left"},
		{header:'${text('地址类型')}', name:'type', index:'a.type', width:150, align:"left",formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('type')}, val, '', true);
		}},
		{header:'${text('姓名')}', name:'name', index:'a.name', width:150, align:"left"},
		{header:'${text('电话')}', name:'phone', index:'a.phone', width:150, align:"left"},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
				actions.push('<a href="${ctx}/ddwl/ddwlUserAddress/form?id='+row.id+'" class="btnList" title="${text('编辑用户地址表')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				if (row.status == Global.STATUS_DISABLE){
					actions.push('<a href="${ctx}/ddwl/ddwlUserAddress/enable?id='+row.id+'" class="btnList" title="${text('启用用户地址表')}" data-confirm="${text('确认要启用该用户地址表吗？')}"><i class="glyphicon glyphicon-ok-circle"></i></a>&nbsp;');
				}
				actions.push('<a href="${ctx}/ddwl/ddwlUserAddress/delete?id='+row.id+'" class="btnList" title="${text('删除用户地址表')}" data-confirm="${text('确认要删除该用户地址表吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>