<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>咚咚快递柜</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<script src="../../../static/common/default/jquery-1.8.0.min.js" type="text/javascript"></script>
	<script src="../../../static/common/default/pageSwitch.min.js"></script>
	<link rel="stylesheet" href="../../../static/common/default/buyProduct.css">
</head>
<body>
<div class="window">
	<div id="container">
		<div class="title"><img src="../../../static/common/default/lan.jpg"></div>
		<div class="sections">
			<div class="section" id="section0"><img alt="" src="../../../static/common/default/ps1.png"></div>
			<div class="clearfix"></div>
		</div>
	</div>

	<div class="bd">
		<div class="exer">
			<form method="post" id="form" action="http://localhost:8980/ddwlkdg/f/ddwl/ddwlOrder/expressFindOrder">
				<div class="ecn"><h6>请输入快递员手机号码：</h6>
					<div class="hot-six"><input type="text" name="phone" style="text-align:center"></div>
				</div>
				<div class="ph_num">
					<input type="submit">一键查询>></button>
				</div>
			</form>
		</div>
	</div>
</div>
</div>
<div class="bottom">
	<div class="left">
		<img src="../../../static/common/default/dilan.png"/>
	</div></div>
</body>
<script type="text/javascript">

</script>
</html>