<% layout('/layouts/default.html', {title: '设备表管理', libs: ['dataGrid']}){ %>
<div class="main-content" xmlns:>
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('设备表管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<!--<% if(hasPermi('zhinenggui:zhinengguiDevice:edit')){ %>-->
					<!--<a href="${ctx}/zhinenggui/zhinengguiDevice/form" class="btn btn-default btnTool" title="${text('新增设备表')}"><i class="fa fa-plus"></i> ${text('新增')}</a>-->
				<!--<% } %>-->
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${zhinengguiDevice}" action="${ctx}/zhinenggui/zhinengguiDevice/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('设备编号')}：</label>
					<div class="control-inline">
						<#form:input path="deviceId" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('设备名称')}：</label>
					<div class="control-inline">
						<#form:input path="deviceName" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('所属用户')}：</label>
					<div class="control-inline">
						<#form:input path="byUser" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('设备编号')}', name:'deviceId', index:'a.device_id', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/zhinenggui/zhinengguiDevice/form?id='+row.id+'" class="btnList" data-title="${text('编辑设备表')}">'+(val||row.id)+'</a>';
		}},
		{header:'${text('设备名称')}', name:'deviceName', index:'a.device_name', width:150, align:"left"},
		{header:'${text('设备备注')}', name:'deviceRemark', index:'a.device_remark', width:150, align:"left"},
		/*{header:'${text('二维码地址')}', name:'code', index:'a.code', width:150, align:"left"},
		{header:'${text('微信二维码地址')}', name:'wxCode', index:'a.wx_code', width:150, align:"left"},*/
		{header:'${text('是否启用')}', name:'enable', index:'a.enable', width:150, align:"left", formatter: function(val, obj, row, act) {
            if (val == '1') {
                return '启用';
            } else {
                return '停用';
            }
        }},
		{header:'${text('是否在线')}', name:'onLine', index:'a.on_line', width:150, align:"left", formatter: function(val, obj, row, act) {
            if (val == '1') {
                return '<b style="color:#00FF00">在线</b>';
            } else {
                return '<b style="color:#FF0000">离线</b>';
            }
        }},
		/*{header:'${text('所属公司')}', name:'byCompany', index:'a.by_company', width:150, align:"left"},
		{header:'${text('所属部门')}', name:'byOffice', index:'a.by_office', width:150, align:"left"},*/
		{header:'${text('所属用户')}', name:'byUser', index:'a.by_user', width:150, align:"left"},
		{header:'${text('状态')}', name:'state', index:'a.state', width:150, align:"left", formatter: function(val, obj, row, act) {
            if (val == '1') {
                return '正常';
            } else {
                return '异常';
            }
        }},
		{header:'${text('设备类型')}', name:'deviceTpye', index:'a.device_tpye', width:150, align:"left", formatter: function(val, obj, row, act) {
            if (val == '1') {
                return '快递柜';
            } else {
                return '未知';
            }
        }},
		{header:'${text('创建时间')}', name:'createDate', index:'a.create_date', width:150, align:"center"},
		/*{header:'${text('备注')}', name:'remarks', index:'a.remarks', width:150, align:"left"},
		{header:'${text('状态/删除标记')}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_status')}, val, '${text('未知')}', true);
		}},*/
		{header:'${text('操作')}', name:'actions', width:180, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('zhinenggui:zhinengguiDevice:edit')){ %>
				actions.push('<a href="${ctx}/zhinenggui/zhinengguiDevice/form?id='+row.id+'" class="btnList" title="${text('编辑设备')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				/*actions.push('<a href="${ctx}/zhinenggui/zhinengguiDevice/adminForm?id='+row.id+'" class="btnList" title="${text('设备控制')}"><i class="fa icon-social-steam"></i></a>&nbsp;');*/
				actions.push('<a href="${ctx}/zhinenggui/zhinengguiCabinets/list?deviceId='+row.deviceId+'" class="btnList" title="${text('柜门控制')}"><i class="fa icon-layers"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/zhinenggui/zhinengguiDeviceViewData/form?deviceId='+row.id+'&deviceNumber='+row.deviceId+'" class="btnList" title="${text('视图编辑')}"><i class="fa icon-grid"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/zhinenggui/zhinengguiDevice/sendEditionUpdate?deviceId='+row.deviceId+'" class="btnList" title="${text('推送更新')}" data-confirm="${text('确认推送版本更新吗？')}"><i class="fa icon-shuffle"></i></a>&nbsp;');
				// if (row.status == Global.STATUS_NORMAL){
				// 	actions.push('<a href="${ctx}/zhinenggui/zhinengguiDevice/disable?id='+row.id+'" class="btnList" title="${text('停用设备表')}" data-confirm="${text('确认要停用该设备表吗？')}"><i class="glyphicon glyphicon-ban-circle"></i></a>&nbsp;');
				// }
				// if (row.status == Global.STATUS_DISABLE){
				// 	actions.push('<a href="${ctx}/zhinenggui/zhinengguiDevice/enable?id='+row.id+'" class="btnList" title="${text('启用设备表')}" data-confirm="${text('确认要启用该设备表吗？')}"><i class="glyphicon glyphicon-ok-circle"></i></a>&nbsp;');
				// }
				/*actions.push('<a href="${ctx}/zhinenggui/zhinengguiDevice/delete?id='+row.id+'" class="btnList" title="${text('删除设备表')}" data-confirm="${text('确认要删除该设备表吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');*/
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>