<% layout('/layouts/default.html', {title: '设备表管理', libs: ['validate','fileupload']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(zhinengguiDevice.isNewRecord ? '新增设备表' : '编辑设备表')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${zhinengguiDevice}" action="${ctx}/zhinenggui/zhinengguiDevice/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="id"/>
				<div class="row">
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('设备ID')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="deviceId" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('设备名称')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="deviceName" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('设备备注')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="deviceRemark" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('绑定快递员手机号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="courierPhone" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('二维码地址')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="code" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('微信二维码地址')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="wxCode" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('X坐标')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input id="longitudeX" value="${ctx}/zhinenggui/zhinengguiDevice/picker"  path="longitudeX" maxlength="255" id="longitudeX" class="form-control" readonly="true" />
							
							</div>
						</div>
					</div>
					<a onClick="longClickGD()"class="btn btn-primary">高德地图拾取器</a>
				</div>
				
				
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('Y坐标')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input id="latitudeY" path="latitudeY" maxlength="255" id="latitudeY" class="form-control" readonly="true"  />
							</div>
						</div>
					</div>
					  <a onClick="longClickTX()" class="btn btn-primary">腾讯地图拾取器</a>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('是否启用')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="enable" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('是否在线')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="onLine" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('所属公司')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:treeselect id="byOffice" title="${text('公司选择')}"
									path="byOffice" labelPath=""
									url="${ctx}/sys/office/treeData"
									class="" allowClear="true"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('所属部门')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:treeselect id="byCompany" title="${text('部门选择')}"
									path="byCompany" labelPath=""
									url="${ctx}/sys/company/treeData"
									class="" allowClear="true"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('所属人')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:treeselect id="byUser" title="${text('用户选择')}"
									path="byUser" labelPath=""
									url="${ctx}/sys/office/treeData?isLoadUser=true"
									class="" allowClear="true"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('状态')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="state" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('设备类型')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="deviceTpye" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('备注')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:textarea path="remarks" rows="4" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">${text('设备轮播图片上传')}：</label>
							<div class="col-sm-10">
								<#form:fileupload id="uploadImage" bizKey="${zhinengguiDevice.id}" bizType="zhinengguiDevice_image"
									uploadType="image" class="" readonly="false"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">${text('屏幕保护图片上传')}：</label>
							<div class="col-sm-10">
								<#form:fileupload id="uploadProtectImage" bizKey="${zhinengguiDevice.id}" bizType="zhinengguiDevice_protect_image"
									uploadType="image" class="" readonly="false"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('zhinenggui:zhinengguiDevice:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>

var index = parent.layer.getFrameIndex(window.name);


$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});

function longClickGD(){
	layer.open({
		  type: 1,
		  title: '坐标拾取器',
		  area: ['624px', '650px'],
		  closeBtn: 0,
		  shadeClose: true,
		  skin: 'yourclass',
		  content:"<iframe style='width:624px;height:600px;' src='${ctx}/zhinenggui/zhinengguiDevice/picker?type=0'></html>"
		});
};
function longClickTX(){
	layer.open({
		  type: 1,
		  title: '坐标拾取器',
		  area: ['624px', '650px'],
		  closeBtn: 0,
		  shadeClose: true,
		  skin: 'yourclass',
		  content:"<iframe style='width:624px;height:600px;' src='${ctx}/zhinenggui/zhinengguiDevice/picker?type=1'></html>"
		});
};
function btn(){
	alert("测试");
}
$(document).ready(function(){
	$('input[name="latitudeY"]').change(function() {
	    alert(1)
	})

});
/* $("#longitudeX").click(function(text){

	var text = ;
	
    layer.open({
        type: 1,//Page层类型
        // area: ['500px', '500px'],
        title: '123',
        shade: 0.6 ,//遮罩透明度
        maxmin: true ,//允许全屏最小化
        anim: 1 ,//0-6的动画形式，-1不开启
        content: text
    });
	//js.windowOpen("${ctx}/zhinenggui/zhinengguiDevice/picker","测试",500,500)
	
}) */
</script>