<% layout('/layouts/default.html', {title: '用户表管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('用户表管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('zhinenggui:zhinengguiUser:edit')){ %>
					<a href="${ctx}/zhinenggui/zhinengguiUser/form" class="btn btn-default btnTool" title="${text('新增用户表')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
				<a href="${ctx}/zhinenggui/zhinengguiUser/register" class="btn btn-default btnTool" title="${text('用户页面注册')}"><i class="fa fa-plus"></i> ${text('用户页面注册')}</a>
				<a href="${ctx}/zhinenggui/zhinengguiUser/login" class="btn btn-default btnTool" title="${text('用户登录')}"><i class="fa fa-plus"></i> ${text('用户登录')}</a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${zhinengguiUser}" action="${ctx}/zhinenggui/zhinengguiUser/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('姓名')}：</label>
					<div class="control-inline">
						<#form:input path="name" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('登录账号')}：</label>
					<div class="control-inline">
						<#form:input path="loginName" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('登录密码')}：</label>
					<div class="control-inline">
						<#form:input path="loginPwd" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('手机号')}：</label>
					<div class="control-inline">
						<#form:input path="phone" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('微信关联ID')}：</label>
					<div class="control-inline">
						<#form:input path="wxId" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('角色')}：</label>
					<div class="control-inline width-90">
						<#form:select path="isManager" dictType="isManager"  blankOption="true" class="form-control width-150"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('所属公司ID')}：</label>
					<div class="control-inline ">
						<#form:input path="byCompanyId" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('身份核实')}：</label>
					<div class="control-inline">
						<#form:input path="isChecked" maxlength="2" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('姓名')}', name:'name', index:'a.name', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/zhinenggui/zhinengguiUser/form?id='+row.id+'" class="btnList" data-title="${text('编辑用户表')}">'+(val||row.id)+'</a>';
		}},
		{header:'${text('登录账号')}', name:'loginName', index:'a.login_name', width:150, align:"left"},
		{header:'${text('登录密码')}', name:'loginPwd', index:'a.login_pwd', width:150, align:"left"},
		{header:'${text('手机号')}', name:'phone', index:'a.phone', width:150, align:"left"},
		{header:'${text('微信关联ID')}', name:'wxId', index:'a.wx_id', width:150, align:"left"},
		{header:'${text('角色')}', name:'isManager', index:'a.is_manager', width:150, align:"left",formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('isManager')}, val, '未知', true);
		}},
		{header:'${text('所属公司ID')}', name:'byCompanyId', index:'a.by_company_id', width:150, align:"left"},
		{header:'${text('身份核实')}', name:'isChecked', index:'a.is_checked', width:150, align:"left"},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('zhinenggui:zhinengguiUser:edit')){ %>
				actions.push('<a href="${ctx}/zhinenggui/zhinengguiUser/form?id='+row.id+'" class="btnList" title="${text('编辑用户表')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				if (row.status == Global.STATUS_NORMAL){
					actions.push('<a href="${ctx}/zhinenggui/zhinengguiUser/disable?id='+row.id+'" class="btnList" title="${text('停用用户表')}" data-confirm="${text('确认要停用该用户表吗？')}"><i class="glyphicon glyphicon-ban-circle"></i></a>&nbsp;');
				}
				if (row.status == Global.STATUS_DISABLE){
					actions.push('<a href="${ctx}/zhinenggui/zhinengguiUser/enable?id='+row.id+'" class="btnList" title="${text('启用用户表')}" data-confirm="${text('确认要启用该用户表吗？')}"><i class="glyphicon glyphicon-ok-circle"></i></a>&nbsp;');
				}
				actions.push('<a href="${ctx}/zhinenggui/zhinengguiUser/delete?id='+row.id+'" class="btnList" title="${text('删除用户表')}" data-confirm="${text('确认要删除该用户表吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>