<% layout('/layouts/default.html', {title: '用户表管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('用户表管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="${ctx}/zhinenggui/zhinengguiUserAddress/list" class="btn btn-default"  title="${text('地址管理')}"><i class="fa fa-filter"></i> ${text('地址管理')}</a>
				<a href="${ctx}/zhinenggui/zhinengguiUser/form" class="btn btn-default btnTool" title="${text('钱包信息')}"><i class="fa fa-filter"></i> ${text('钱包信息')}</a>
				<a href="${ctx}/zhinenggui/zhinengguiOrder/list" class="btn btn-default btnTool" title="${text('订单管理')}"><i class="fa fa-filter"></i> ${text('订单管理')}</a>
				<a href="${ctx}/zhinenggui/zhinengguiUser/form" class="btn btn-default btnTool" title="${text('个人信息')}"><i class="fa fa-filter"></i> ${text('个人信息')}</a>
				<a href="${ctx}/zhinenggui/zhinengguiOrder/form?deviceId=123" class="btn btn-default btnTool" title="${text('用户寄件')}"><i class="fa fa-filter"></i> ${text('用户寄件')}</a>
			</div>
		</div>
		<div>
			<span>${zhinengguiUser}</span>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
</script>